.gameOver {
    border: 2px solid #607d8b;
    background-color: #c8eeff;
    display: inline-block;
    padding: 30px;
    padding-top: 0px;
    margin-top: 50px;
    border-radius: 10px;
}

.gameOver p {
    font-weight: bold;
    font-size: 18px;
}

.gameOver button {
    background-color: #03a9f4;
    color: #091764;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #091764;
    cursor: pointer;
}

.gameOver button:hover {
    background-color: #091764;
    color: #03a9f4;
}